<%- include('../partials/header',{pageTitle:'home',stylesheet:'/css/main.css'}) %> 
<% if (errorMessages) { %>
    <p><%= errorMessages %> </p>
<% } %> 
<% if (successMessages) { %>
    <p><%= successMessages %> </p>
<% } %> 
<h1>home</h1>
<p>hello <%= user.firstName %>  </p>
<%- include('../partials/footer') %> 