<%- include('../partials/header',{pageTitle:'home',stylesheet:'/css/main.css'}) %> 

<% errorMessages.forEach(message => { %>
    <p><%= message %> </p>
<% }) %>

<% successMessages.forEach(message => { %>
    <p><%= message %> </p>
<% }) %>

<h1>home</h1>
<p>hello <%= user.firstName %> </p>

<form action="/user/logout" method="POST">
    <button type="submit">logout</button>
</form>

<%- include('../partials/footer',{scripts:[]}) %> 